/************** PALETTES DE COULEURS ************/
/* Idée palette 1 : rgb(111, 211, 250) ; white */
/* Idée palette 2 : #027515 ; #d7f6a2 ; #fab0a8 / :hov */
/*************** FONTS ***************/
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sigmar{
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/*************** ROOTS ***************/
:root{
    --title-top-position : 20vh;
    --title-block-height : 200px;
    --height-letter-block : 270px;
    --border-properties : solid 1px #02410e;
}

/*************** GENERAL ***************/
::-webkit-scrollbar {
    display: none;
    }

.background{
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #027515;
    z-index: 0;
    scroll-behavior: smooth;
}

h3, h4, p, a {
    color: #02410e;
}

/*************** TITLE ***************/
#title h1{
    position: fixed;
    top: var(--title-top-position);
    left: 5vw;
    color: #d7f6a2;
    font-size: 100px;
    text-transform : lowercase;
    text-align: left;
    z-index: 1;
}

#title h2{
    position: fixed;
    top: calc(var(--title-top-position) + 30vh);
    right: 5vw;
    color: #d7f6a2;
    font-size: 40px;
    text-align: right;
    z-index: 1;
}

/*************** SCROLLING DIV ***************/
.bottom-section {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 95vh;
    z-index: 2;

    background-color: #fab0a8;
}

.scrolling-div {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    background-color: #fab0a8;
    color: #027515;
}

.scrolling-div h2{
    background-color: #d7f6a2;
    border: var(--border-properties);
    margin: 0;
}

.left-position{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;

    border: var(--border-properties);
    background-color: #d7f6a2;
    color : #035311;

    padding-left: 20px;
    font-family: "Sigmar";
    font-size: 25px;
}

#menu {
    font-family: "Quicksand";
    margin-top: 12px;
}

li{
    list-style: none;
}
/************ LETTER CAT ***************/
.letter-cat{
    width: 100%;
    min-height: 25px;
    position: relative;
    top: -13px;

    list-style: none;

    background-color: #fab0a8;
}

.letter-cat.closed{
    top: -13px;
}

.letter-cat__lettre{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;

    text-align: center;

    background-color: #d7f6a2;

    transition: width 400ms ease;

}

.letter-cat__items{
    padding-left: 30%;
}

.letter-cat__lettre, .letter-cat__items{
    border: var(--border-properties);
}


.letter-cat.closed .letter-cat__lettre{
    width: 100%;
    text-align: left;
    padding-left: 2.5vw;

    transition: width 400ms ease;
}

.letter-cat.closed .letter-cat__items{
    display: none;
}

.letter-cat__item {
    padding: 10px;
    margin: 10px;
    
    border: var(--border-properties);
    background-color: #d7f6a2;
}

.letter-cat__item__close{ 
    float: right;

    width: 15px;
    height: 10px;

    margin-right: 2.5vw;

    background-color: transparent;
    background-image: url(src/menuOuvrant.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;

    transform: rotate(180deg) translateY(-45%);

    cursor: pointer;

    transition: transform 400ms ease    
}

.letter-cat__item__close.closed{
    transform: rotate(0deg) translateY(65%);
}

.letter-cat__item__content{
    display: block;
    width: 98%;
    padding: 10px;
}
.letter-cat__item__content p{
    padding: 10px;
}

.letter-cat__item.closed .letter-cat__item__content{
    display: none;
}